<html>

<head>
	<title>Raccoonal Book</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">

	<!-- JS -->
	<!--<script src="../js/bootstrap.js"></script>-->
	<script src="../js/jquery-3.3.1.min.js"></script>

	<!--
	<meta name="viewport" content="width=device-width, initial-scale=1">
	-->
</head>

<body>
	<!--	<div class="content">
		<h2>Racoon Book</h2>
		Photo Grid Layout
		<div class="row">
			<div class="column">
				<div class="content" id="01" onclick="viewProfile(this.id)">
					 Insert Racoon Photo
					<p>Image of Raccoon</p>
					style= "width: 100%
					<h3>Name</h3>
					<div class="profile notification" id="profile" style="display: flex;" <div class="profile picture">
						<h3> Name </h3>
						<p> Profile Picture of Racoon </p>
						<p> Description </p>
					</div>
					<button type="button" id="closeProfileButton" class="closebtn">Close
					</button>
				</div>
			</div>
			<div class="column">
				<div class="content">
					Insert Mystery Racoon Photo
					<p>???</p>
					style= "width: 100%
					<h3>???</h3>
				</div>
			</div>
			<div class="column">
				<div class="content">
					<Insert Mystery Racoon Photo
					<p>???</p>
					style= "width: 100%-
					<h3>???</h3>
				</div>
			</div>
			<div class="column">
				<div class="content">
					 Insert Mystery Racoon Photo
					<p>???</p>
					 style= "width: 100%
					<h3>???</h3>
				</div>
			</div>
		</div>
	</div>
	-->
	<div class="content">
		<div class="raccoonbookBox">
			<h1> Raccoon Book </h1>
			<div class="raccoons">
				<div class="raccoon">
					<img src="../images/Racoons/racoon_default.png">
					<p>Default</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_revelle.png">
					<p>Revelle</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_marshall.png">
					<p>Marshall</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_muir.png">
					<p>Muir</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_sixth.png">
					<p>Sixth</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_warren.png">
					<p>Warren</p>
				</div>
				<div class="raccoon">
					<img src="../images/Racoons/racoon_erc.png">
					<p>ERC</p>
				</div>
			</div>
			<div class="raccoonDiscription">
				<h2 id="name"></h2>
				<img id="profilePic" src="">
				<p id="discrption">
					Morbi scelerisque quam risus. Ut consequat consectetur lectus id maximus. Maecenas diam quam, tristique lacinia facilisis
					sed, cursus in felis. Maecenas sit amet ultrices orci, quis vehicula ligula. Sed bibendum at turpis ac vulputate. Mauris
					eget odio sodales, bibendum eros eu, tempor erat.
				</p>
				<button type="button" id="closeDpt">back</button>
			</div>
		</div>
	</div>


	<div class="bar">
		<button type="button" class="menu" id="calendarButton" onclick="window.location='calendar.handlebars'">
			<img src="../images/Navigation/calendar.png">
		</button>
		<button type="button" class="menu" id="bookButton" onclick="window.location='book.handlebars'">
			<img src="../images/Navigation/photoalbum.png">
		</button>
		<img src="../images/Navigation/home.png" class="menu" id="homeButton" onclick="window.location='home.handlebars'">
		<button type="button" class="menu" id="emptyButton" disabled>Market
			<br>Coming Soon!</button>
		<button type="button" class="menu" id="settingButton" onclick="window.location='setting.handlebars'">
			<img src="../images/Navigation/settings.png">
		</button>
	</div>

	<!--Popup Profile-->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script> 
		var profile;
		function viewProfile(id) {
			profile = $('#' + id).find('#profile');
			profile.show().css('display', 'flex');
		};

		$(".closebtn").on("click", function (e) {
			$(this).parent().hide()
			e.stopPropagation()
		});

		$(".raccoon").on("click", function (e) {
			$(".raccoonDiscription").fadeIn(200).css("display", "flex");
			$("#name").text($(e.target).closest("div").find("p").text());
			$("#profilePic").attr("src", $(e.target).closest("div").find("img")[0].src);
		})

		$("#closeDpt").on("click", function () {
			$(".raccoonDiscription").fadeOut(200);
		})
	</script>
</body>

</html>