<html>

<head>
	<title>Raccoonal Book</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">

	<!-- JS -->
	<!--<script src="../js/bootstrap.js"></script>-->
	<script src="../js/jquery-3.3.1.min.js"></script>

	<!--
	<meta name="viewport" content="width=device-width, initial-scale=1">
	-->
</head>

<body>
	<div class="content otherPages">
		<div class="raccoonbookBox">
			<h1> Raccoon Book </h1>
			<div class="raccoons">

				{{#each raccoons}}
				<div class="raccoon">
					<img src="../images/Racoons/{{src}}">
					<p class="nameP">{{name}}</p>
					<p class="hide descriptionP">{{description}}</p>
					<p class="hide collegeP">{{college}}</p>
				</div>
				{{/each}}
			</div>
			<div class="raccoondescription">
				<h2 id="name"></h2>
				<img id="profilePic" src="">
				<p id="college"></p>
				<p id="description"></p>
				<button type="button" id="closeDpt">back</button>
			</div>
		</div>
	</div>


	<div class="bar">
		<button type="button" class="menu" id="calendarButton" onclick="window.location='calendar.handlebars'">
			<img src="../images/Navigation/calendar.png">
		</button>
		<button type="button" class="menu" id="bookButton" onclick="window.location='book.handlebars'">
			<img src="../images/Navigation/photoalbum.png">
		</button>
		<img src="../images/Navigation/home.png" class="menu" id="homeButton" onclick="window.location='home.handlebars'">
		<button type="button" class="menu" id="marketButton" disabled>
			<img src="../images/Navigation/market.png">
		</button>
		<button type="button" class="menu" id="settingButton" onclick="window.location='setting.handlebars'">
			<img src="../images/Navigation/settings.png">
		</button>
	</div>

	<!--Popup Profile-->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script> 
		var profile;
		function viewProfile(id) {
			profile = $('#' + id).find('#profile');
			profile.show().css('display', 'flex');
		};

		$(".closebtn").on("click", function (e) {
			$(this).parent().hide()
			e.stopPropagation()
		});

		$(".raccoon").on("click", function (e) {
			$(".raccoondescription").fadeIn(200).css("display", "flex");
			$("#name").text($(e.target).closest("div").find(".nameP").text());
			$("#profilePic").attr("src", $(e.target).closest("div").find("img")[0].src);
			$("#college").text("College: " + $(e.target).closest("div").find(".collegeP").text());
			$("#description").text($(e.target).closest("div").find(".descriptionP").text());
		});

		$("#closeDpt").on("click", function () {
			$(".raccoondescription").fadeOut(200);
		})
	</script>
</body>

</html>