<html>

<head>
    <title>Raccoonal Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">

    <!-- JS -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="https://download.affectiva.com/js/3.1/affdex.js" type="text/javascript"> </script>
    <script src="../js/easytimer.min.js"></script>
</head>

<body>
    <div class="content otherPages login">
        <h1>Raccoonal Journal</h1>
        <h2>Login</h2>
        <div class="userInput">
            <div class="userName">
                <h3>User name:</h3>
                <input type="input" id="userNameBox">
            </div>
            <div class="password">
                <h3>Password:</h3>
                <input type="password" id="passwordBox">
            </div>
        </div>
        <fb:login-button id="fbLogin" scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="tutorialDiv">
            <input id="firstTimeUser" type="checkbox">
            <label for="firstTimeUser">Read Tutorial?</label>
        </div>

        <div id="createAccDiv">
            <input id="firstTimeUser" type="checkbox">
            <label for="firstTimeUser">Create Account (for New Users)</label>
        </div>

        <button type="button" id="loginButton">Submit!</button>
    </div>

    <script>
        $("#loginButton").on("click", function (e) {
            if ($("#userNameBox").val() == "") {
                alert("User name can't be empty!");
            } else if ($("#passwordBox").val() == "") {
                alert("Password can't be empty!");
            } else {
                if ($('#firstTimeUser').is(":checked")) {
                    window.location = 'tutorial';
                } else {
                    var now = new Date();
                    var time = now.getTime();
                    var expireTime = time + 1000 * 3;
                    now.setTime(expireTime);
                    document.cookie =
                        'userName=' + $("#userNameBox").val() + '; ' +
                        'expires=' + now.toGMTString() + '; ' +
                        'path=/';

                    console.log(document.cookie);
                    window.location = 'homeA';
                }
            }
        });
    </script> {{> facebook}}
    <script src="../js/facebook.js"></script>

</body>