<html>

<head>
	<title>Raccoonal Setting</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/setting-style.css">

	<!-- JS -->
	<!--<script src="../js/bootstrap.js"></script>-->
	<script src="../js/jquery-3.3.1.min.js"></script>
</head>

<body>
	<div class="content setting otherPages">

		<div class="titleBox">
			<h1 id="titleText">Settings</h1>
		</div>

		<div class="settingBox">
			<h2 id="soundText">Sound:</h2>
			<div class="slideContainer">
				<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
			</div>
			<h2 id="sfxText">SFX:</h2>
			<div class="slideContainer">
				<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
			</div>
			<div class="tutorialBox">
				<button type="button" id="tutorial">Tutorial</button>
			</div>
		</div>
	</div>

	<div class="bar">
		<button type="button" class="menu" id="calendarButton" onclick="window.location='calendar.handlebars'">
			<img src="../images/Navigation/calendar.png">
		</button>
		<button type="button" class="menu" id="bookButton" onclick="window.location='book.handlebars'">
			<img src="../images/Navigation/photoalbum.png">
		</button>
		<img src="../images/Navigation/home.png" class="menu" id="homeButton" onclick="window.location='home.handlebars'">
		<button type="button" class="menu" id="marketButton" disabled>
			<img src="../images/Navigation/market.png">
		</button>
		<button type="button" class="menu" id="settingButton" onclick="window.location='setting.handlebars'">
			<img src="../images/Navigation/settings.png">
		</button>
	</div>

</body>

</html>