body {
    font-family: 'Sniglet', cursive;
}

.homePage {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-color: #E9C8B5;
    width: 100%;
    height: 100%;
}

.otherPages {
    background-image: url("../images/bg.png");
}

.content {
    height: 88%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% auto;
    max-height: 1740px;
    min-width: 980px;

    h1 {
        width: 100%;
    }

    .quizModal {
        position: fixed;
        top: 25%;
        bottom: 30%;
        left: 15%;
        right: 15%;
        font-size: 45px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .raccoon {
            max-width: 300px;
            max-height: 300px;
            transform: translate(0%, -50%);
        }

        .quizQuestion {
            height: 60%;
            width: 70%;
            border: solid #525863 5px;
            border-radius: 80px;
            background-color: rgba(233, 200, 181, 0.8);
            margin-bottom: 10%;
            color: black;

            p {
                transform: translate(0%, -50%);
            }
        }

        .quizButton {
            width: 100%;
            height: 15%;

            //border: solid green;
            padding-top: 5%;

            button {
                font-size: 40px;
                height: 100%;
                width: 30%;
                margin-left: 4%;
                margin-right: 4%;
                text-align: center;
                display: inline-block;
                border-radius: 50px;
                border: solid 3px #76849A;
                color: #000000;
                transition-duration: 0.2s;
            }

            #quizYesButton {
                background-color: rgba(157, 255, 128, 0.8);
            }

            #quizNoButton {
                background-color: rgba(241, 114, 114, 0.8);
            }
        }
    }

    .modal {
        /*make the whole modal centered in the middle*/
        //border:solid red;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        width: 60%; /* Full width */
        height: 60%; /* Full height */
        overflow: auto; /* Enable scroll if needed */

        /* flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modalMessage {
            height: 70%;
            width: 70%;

            //border: solid blue;
            padding: 10%;
            margin: 10%;
            overflow: auto;
            border-radius: 20px;
            border: solid 3px #76849A;
            font-size: 50px;
            color: #525863;
            background-color: rgba(255, 187, 114, 0.9);
        }

        .modalButton {
            width: 100%;
            height: 15%;

            //border: solid green;
            padding-top: 5%;

            button {
                font-size: 40px;
                background-color: #E9C8B5;
                height: 80%;
                width: 40%;
                margin-left: 4%;
                margin-right: 4%;
                text-align: center;
                display: inline-block;
                border-radius: 20px;
                border: solid 3px #76849A;
                color: #525863;
                transition-duration: 0.2s;
            }

            #scanLaterButton:hover {
                background-color: #FF7F7F;
            }

            #scanOkButton:hover {
                background-color: #8FFFA9;
            }
        }
    }

    .scanningModal {
        position: fixed;

        //border: solid yellow;
        width: 100%;
        top: 3%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #countdownMessage {
            width: 60%;
            border-radius: 14px;
            border: solid 3px #76849A;
            font-size: 40px;
            color: #525863;
            background-color: rgba(255, 187, 114, 0.9);
        }

        #scanStopButton {
            margin-top: 4%;
            font-size: 30px;
            padding: 5px 15px 5px 15px;
            height: 80%;
            text-align: center;
            display: inline-block;
            border-radius: 20px;
            border: solid 2px #76849A;
            color: #525863;
            transition-duration: 0.2s;
        }

        #scanStopButton:hover {
            background-color: #FF7F7F;
        }

        #notCenteredMessage {
            display: none;
            font-size: 40px;
            margin-top: 10px;
        }

        $glass_wh: 400px;

        .affectivaTest {
            display: none;
            top: 18%;
            position: fixed;
            width: $glass_wh;
            height: $glass_wh;
            border: solid #525863 10px;
            overflow: hidden;

            video {
                width: $glass_wh / 3 * 4;
                margin-left: -$glass_wh / 6;
            }
        }

        $toggle_wh: 150px;

        #toggleCamButton {
            display: none;
            opacity: 50%;
            position: fixed;
            font-size: 30px;
            width: $toggle_wh;
            height: $toggle_wh;
            bottom: 15%;
            right: 6%;
            text-align: center;
            border-radius: 20px;
            border: solid 2px #76849A;
            color: #525863;
            transition-duration: 0.2s;
            background-color: #E9C8B5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: $toggle_wh - 20px;
                height: $toggle_wh - 20px;
            }
        }
    }

    .scanResultModal {
        width: 65%;
        height: 60%;
        font-size: 50px;
        position: fixed;
        padding: 20px;
        overflow: auto;

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: solid 3px #76849A;
        background-color: #E9C8B5;

        input {
            font-size: 25px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 10px;

            .emoji {
                margin-right: 20px;
            }

            img {
                width: 60px;
                height: 60px;
            }
        }

        

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                width: 200px;
            }
        }

        button {
            margin: 30px;
            padding: 10px;
            font-size: 40px;
            border: 6px #525863 solid;
            border-radius: 20px;
            background-color: rgb(255, 158, 102);
        }

        #memoGroup {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            #resultMemo {
                width: 90%;
                height: 60px;
                margin: 20px;
            }

            #resultMemoSubmit {
                margin: 0 0 0 10px;
            }            
        }
    }

    .scanResultModalB {
        width: 65%;
        height: 60%;
        font-size: 60px;
        position: fixed;
        padding: 20px;
        overflow: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: solid 3px #76849A;
        background-color: #E9C8B5;
        overflow: auto;
        display: none;

        #donetext {
            font-size: 80px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 5px;

            .emoji {
                margin-right: 20px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        .lists {
            display: flex;
        }

        #resultMemo {
            width: 90%;
            font-size: 30px;
            height: 230px;
            margin: 20px;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button {
                width: 200px;
            }
        }

        button {
            margin: 30px;
            padding: 10px;
            font-size: 40px;
            border: 6px #525863 solid;
            border-radius: 20px;
            background-color: rgb(255, 158, 102);
        }
    }

    #startScanButton {
        -webkit-appearance: none;
        font-size: 45px;
        position: fixed;
        width: 130px;
        height: 130px;
        top: 1em;
        right: 1em;
        border: 5px #525863 solid;
        border-radius: 20px;
        background-color: rgb(245, 170, 127);
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .raccoonbookBox {
        height: 85%;
        width: 80%;
        border: 10px #525863 solid;
        border-radius: 40px;
        background-color: #E9C8B5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;

        #raccoonp {
            width: 70%;
            color: rgb(53, 53, 53);
            font-size: 25px;
        }

        .hide {
            display: none;
        }

        h1 {
            font-size: 70px;
            font-family: 'Sniglet', cursive;
        }

        .raccoons {
            margin: 5%;
            display: grid;
            grid-template-columns: 33.33% auto 33.33%;

            //border: blue solid 5px;
            width: 85%;
            height: 85%;

            .raccoon {
                margin: 5%;
                width: 90%;
                height: 90%;
                border: 5px solid black;
                border-radius: 20px;
                background-color: bisque;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img {
                    max-height: 40%;
                    max-width: 90%;
                }

                p {
                    font-size: 40px;
                    background-color: azure;
                    border: #76849A solid 3px;
                    border-radius: 20px;
                    width: 90%;
                    margin-top: 20%;
                }
            }
        }

        .raccoondescription {
            position: fixed;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 50%;
            background-color: blanchedalmond;
            border-radius: 20px;
            border: solid #76849A 10px;
            padding: 20px;

            #name {
                font-size: 45px;
            }

            img {
                max-width: 80%;
                max-height: 40%;
                border: solid 4px #525863;
                overflow: hidden;
                background-color: white;
            }

            #college {
                padding: 10px;
                margin: 5px;
                font-size: 40px;
                border: solid #76849A 5px;
                border-radius: 20px;
                background-color: rgb(238, 230, 225);
            }

            #description {
                height: 40%;
                word-wrap: break-word;
                font-size: 30px;
                overflow: scroll;
            }

            button {
                font-size: 40px;
                width: 30%;
                border: solid #525863 5px;
                border-radius: 10px;
            }
        }
    }
}

#memo {
    width: 40%;
    height: 40%;
    margin: 30%;
    border: solid;
    background: grey;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendarModal {
    position: fixed;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 25%;
    padding: 20px;

    .hide {
        display: none;
    }

    display: none;
    border-radius: 20px;
    border: solid 3px #525863;
    background-color: rgb(255, 237, 227);
    flex-direction: column;
    box-shadow: 4px 5px 20px;

    .top {
        right: 0px;
        margin: 20px 50px 30px 20px;

        .fullDate {
            font-family: 'Fredericka the Great', cursive;
            float: right;
            padding: 5px;

            * {
                margin: 0;
                padding: 0;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .monthNum {
                font-size: 35px;
            }

            .dateNum {
                font-size: 80px;
            }

            .yearNum {
                font-size: 35px;
            }
        }

        #closeDiaryButton {
            float: left;
            border: 5px solid #525863;
            border-radius: 10px;
            font-size: 30px;
            padding: 10px;
            margin: 10px;
        }
    }

    .records {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;


        li {
            width: 100%;
            min-height: 93px;
            min-width: 430px;
        }

        .deleteBtn {
            border: 3px solid #525863;
            border-radius: 10px;
            width: 70px;
            height: 70px;
            padding: 2px;
        }

        .deleteBtn:hover {
            background-color: #FF7F7F;
        }
    }
}

.game {
    position: fixed;
}

.calendar {
    padding: 5%;

    .calendarBox {
        height: 95%;
        border: solid #525863 10px;
        border-radius: 20px;
        text-align: center;
        width: 98%;
        padding: 5%;
        background-color: rgba(255, 187, 114, 0.9);
        overflow: auto;
        max-height: 1400px;

        .monthBar {
            #monthText {
                font-size: 70px;
            }

            margin-bottom: 20px;
            display: flex;
            border: solid 8px rgb(146, 64, 16);
            border-radius: 20px;
            background-color: rgb(202, 129, 86);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                margin: 10px 20px 10px 20px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: solid 5px rgb(146, 64, 16);
                background-color: rgb(245, 187, 153);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 60px;
                }
            }
        }

        .dateBox {
            background-color: white;
            border: solid 8px #525863;
            border-radius: 20px;
            overflow: auto;
            height: 88%;
            max-height: 1114px;

            .memoModal {
                #closeMemoModal {
                    border: solid #525863 5px;
                    padding: 5px;
                    margin: 5px 5px 20px 5px;
                    font-size: 35px;
                    border-radius: 20px;
                    width: 160px;
                    height: 80px;
                }

                position: fixed;
                background-color: rgba(233, 200, 181, 0.87);
                border: solid 5px #525863;
                border-radius: 20px;
                left: 22%;
                right: 22%;
                top: 25%;
                bottom: 30%;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: auto;

                #memoTitle {
                    font-size: 60px;
                }

                .memoText {
                    overflow: scroll;
                    font-size: 40px;
                    width: 85%;
                    height: 55%;
                    margin-bottom: 5%;
                    border: solid #525863 5px;
                    padding: 30px;
                    background-color: rgb(235, 223, 217);
                }

                #emotionRateList {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 25%;

                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 4px 10px 4px;

                        img {
                            width: 65px;
                            height: 65px;
                        }
                    }
                }
            }

            ul, li {
                margin: 0px;
                padding: 0px;
                list-style: none;
            }

            li {
                font-size: 50px;
                text-align: center;
                margin-top: 10px;
                flex: auto;
            }

            .record {
                width: 80%;
                font-size: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border: 3px #76849A solid;
                background-color: wheat;
                padding: 5px;
                border-radius: 12px;

                p {
                    margin: 5px;
                    width: 160px;
                    border: solid #525863 5px;
                    border-radius: 20px;
                    background-color: rgb(204, 212, 226);
                }

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                }
            }

            .weekdays {
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: rgb(90, 36, 4);
                color: #E9C8B5;
            }

            .alldays {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .date {
                    background-color: rgb(250, 226, 212);
                    font-size: 55px;
                    padding: 5px;
                    flex: auto;
                    width: 14%;
                    height: 18.55%;
                    margin: 0;
                    padding: 0;
                    border: solid 2px #525863;
                    min-height: 166px;

                    #emojiOfTheDay {
                        margin-top: 5px;
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}

.bar {
    z-index: 1;
    height: 12%;
    display: flex;
    background-image: url("../images/pawbg.png");
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    button {
        margin: 15px;
        font-size: 30px;
        border: solid 10px #525863;
        width: 160px;
        height: 160px;
        border-radius: 20px;
        background-color: rgb(252, 193, 159);
    }

    #calendarButton, #bookButton, #marketButton, #settingButton {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 2px 20px rgb(62, 70, 83);

        img {
            max-width: 100px;
            max-height: 100px;
        }
    }

    #homeButton {
        width: 190px;
        height: 220px;
    }
}

.menu {
    margin: 5px;
    width: 18%;
    height: 80%;
    font-size: small;
    text-align: center;
    vertical-align: middle;
    padding-top: 16px;
    padding-bottom: 16px;
}

#results {
    * {
        word-wrap: break-word;
    }
}

/*
@media (max-width:500px) {
    .modal {
        font-size: 200%;        
    }
}
*/
.login {
    #fbLogin {
        margin: 40px;
    }

    min-height: 1500px;
    //test
    display: flex;

    //display: none;

    position: fixed;
    height: 120%;
    width: 100%;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        font-family: 'Sniglet', cursive;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 50px;
    }

    .userName, .password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            margin: 5% 10% 15% 10%;
            width: 100%;
            height: 60px;
            font-size: 40px;
        }
    }

    #tutorialDiv, #createAccDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        #firstTimeUser {
            margin: 0px 20px 0px 0px;
            margin: 0;
            width: 50px;
            height: 50px;
        }

        label {
            font-size: 40px;
        }
    }

    #loginButton {
        font-weight: bold;
        border: 10px #525863 solid;
        border-radius: 20px;
        padding: 10px;
        margin-top: 30px;
        font-size: 40px;
    }
}

.settingPage {
    .settingBox {
        height: 85%;
        width: 80%;
        border: 10px #525863 solid;
        border-radius: 40px;
        background-color: #E9C8B5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    h1 {
        font-size: 70px;
        font-family: 'Sniglet', cursive;
    }

    .sounds {
        margin: 50px;
        border: 5px #525863 solid;
        border-radius: 40px;
        background-color: rgba(231, 231, 231, 0.671);
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;

        h2 {
            margin: 50px 0 20px 0;
            font-size: 50px;
            font-family: 'Sniglet', cursive;
        }

        input[type="range"] {
            -webkit-appearance: none;
            -moz-apperance: none;
            border-radius: 6px;
            height: 30px;
            width: 400px;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #94A14E), color-stop(0.5, #C5C5C5));
        }

        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            background-color: #E9E9E9;
            border: 1px solid #CECECE;
            height: 50px;
            width: 50px;
        }
    }

    #tutorialBtn, #signOutBtn {
        margin: 20px;
        padding: 20px;
        font-size: 45px;
        border: solid 6px #525863;
        border-radius: 20px;
        background-color: rgb(206, 193, 185);
        font-family: 'Sniglet', cursive;
    }
}

.welcomePage {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    img {
        width: 100%;
    }

    button {
        padding: 20px;
        position: fixed;
        font-size: 45px;
        border: solid 6px #525863;
        border-radius: 20px;
        background-color: rgb(252, 193, 159);
        font-family: 'Sniglet', cursive;
    }

    #skipBtn {
        background-color: rgba(252, 193, 159, 0.5);
        top: 1em;
        right: 1em;
    }

    #prevBtn {
        left: 1em;
        bottom: 1em;
        width: 220px;
        display: none;
    }

    #nextBtn {
        right: 1em;
        bottom: 1em;
        width: 220px;
    }
}

#testAna {
    display: none;
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 200px;
    left: 1em;
    top: 1em;
    font-size: 50px;
}
